.base-color {
    background-color: #07294d;
}

.text-navy {
    color: #07294d;
}

.navbar-thin {
    height: 40px;
    font-size: medium;
}

.navbar-wide {
    min-height: 100px;
}

.navbar-wide-items {
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
    flex-grow: 1;
}


.navbar-wide-items li {
    font-size: larger;
    font-weight: 700;
}

/* .nav-link {
    padding-bottom: 2px;
} */

/* .nav-link:focus, .nav-link:hover {
    color: #07294d;
} */