.footer-bg-color1 {
    background-color: #1c2331;
}

.footer-hr {
    width: 130px; 
    background-color: #0a3f77; 
    height: 2px;
}

.footer-bg-color2 {
    background-color: rgba(0, 0, 0, 0.2)
}